@model IEnumerable<CustomerServiceControl.Models.ProductAndService>


@{
    ViewBag.Title = "Produtos|Serviços";
}

<div class="container">
    <div class="row col-lg-12">
        <h3>Lista dos produtos e serviços</h3>
        <hr />
    </div>

    
    <div class="row col-lg-12">
        <div class="form-group">
            @Html.ActionLink("Adicionar", "Create", "ProductAndService", null, new { @class = "btn btn-default" })
        </div>
    </div>

    <div class="row col-lg-12">
        <div class="form-group">
            <table class="table table-responsive">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>Ações</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>